:root {
    --base-black-color:         #2A2925;
    --base-gray-color:          #5D5D5F;
    --accent-teal-color:        #0BFFBC;
    --accent-purple-color:      #CFD7FE;
    --label-white-color:        #F1F3F7;
    --display-purple-color:     #695D9B;
}

#drum-machine-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

#drum-machine {
    padding: 16px;

    background-color: var(--base-black-color);
    box-sizing: border-box;
    border: 4px solid var(--accent-teal-color);
    border-radius: 4px;

    display: flex;
    flex-direction: row;
    justify-content: center;


    font-family: 'Bungee', sans-serif;
}

#drum-machine:focus {
    outline: 0;
    box-shadow: 0 0 16px var(--accent-teal-color);
}

.title {
    margin: 8px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title h1 {
    margin: 0;
    padding: 0;

    writing-mode: vertical-lr;
    transform: rotate(180deg);

    font-family: 'Bungee Shade', sans-serif;
    font-size: 40px;
    line-height: 40px;
    color: var(--accent-teal-color);
}
